/* Common Styles */
body {
  font-family: 'Cascadia Code', sans-serif;
  text-align: center; 
  margin: 25px;
  background-color: rgb(231, 225, 225);
  font-weight: bold;
  background-color: rgb(245, 242, 242);
}

textarea {
  width: 90%;
  min-height: 150px;
  padding: 15px 10px 15px 15px;
  margin: 10px;
  border: none;
  box-shadow: inset 1px 1px 2px 2px rgb(154, 21, 70),
  2px 2px 5px green;
  border-radius: 20px;
  resize: vertical; /* Allow vertical resizing only */
  text-align: left; /* Align text inside the text area to the left */
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 13px;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px 2px rgb(154, 21, 70),
  2px 2px 5px green;
}

button:hover {
  background-color: #c20d16;
  font-size: 15px;
}

/* Main App Styles */
.text-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  min-height: 110px;
  border: none;
  border-radius: 12px;
  background-color: #fefefe;
  position: relative;
  overflow: hidden;
  box-shadow:  -1px -1px 4px rgb(14, 169, 146),
                1px 1px 4px rgb(236, 67, 10);
  text-align: left; /* Align text inside the text-entry to the left */
}

.text-entry span {
  flex: 1;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.icon-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.copy-button, .delete-button, .edit-button, .view-more-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  margin: 2px 0;
}

.view-more-button{
  border-radius: 12px;
  padding: 1.5px 7px;
  position: absolute;
  bottom: 3px;
  left: 38px;
  font-weight: bold;
  color: rgb(21, 6, 163);
  background-color: #d4b4b4;
}
.view-more-button:hover{
  /* font-size: 20px; */
  color: white;
  background-color: #000000;
}

.flash-message {
  display: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  animation: fadeInOut 3s forwards;
}

.flash-message.success {
  background-color: #4CAF50; /* Green */
  color: white;
}

.flash-message.error {
  background-color: #f44336; /* Red */
  color: white;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

/* Welcome Message Styles */
#welcomeMessage {
  font-size: 1.5em;
  color: #fff;
  background-color: #4CAF50; /* Green */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

