/* Common Styles */
body{
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 25px;
  background-color: rgb(231, 225, 225);
  /* background-color: rgb(245, 242, 242); */
}
  
textarea{
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  border: none;
  box-shadow: inset 1px 1px 2px 2px rgb(154, 21, 70),
  2px 2px 5px green;
  text-align: center;
  border-radius: 20px;
  resize: vertical; /* Allow vertical resizing only */
}
  
.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 13px;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px 2px rgb(154, 21, 70),
  2px 2px 5px green;
}
  
button:hover {
  background-color: #c20d16;
  font-size: 15px;
}
  
/* Main App Styles */
.text-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  min-height: 110px;
  border: none;
  border-radius: 12px;
  background-color: #fefefe;
  position: relative;
  overflow: hidden;
  /* font-weight: bold; */
  box-shadow:  -1px -1px 4px rgb(14, 169, 146),
                1px 1px 4px rgb(236, 67, 10);
}
  
.text-entry span {
  flex: 1;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
  
.icon-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
  
.copy-button, .delete-button, .edit-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  margin: 2px 0;
}
  